@font-face {
    font-family: "Brandon Grotesque";
    src: url("/fonts/BrandonGrotesque-Bold.otf") format('opentype');
  }

  @font-face {
    font-family: "Cervo Neue";
    src: url("/fonts/CervoNeue-BoldNeue.otf") format('opentype');
  }